<!DOCTYPE html>
<!-- The catalogue contains a list of podcasts that are displayed in Podcasts List, including the name and image of each Podcast -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Catalogue</title>
    <link
        rel="stylesheet"
        href="../static/css/main.css"
    />
</head>

<head>
  <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="mystyle.css">
</head>
<body>
  {% include 'navbar.html' %}
  <div id="content-2">
            <header id="header">
              Podcast Catalogue
              <div class="copyright">&copy; upat161 </div>
            </header>
            <main id="main">
                <div id="podcast">
                    <ul>
                      <li>
                          <a href="./podcastDescription.html">
                            <div class="podcast-list">
                              <img src="../static/tt.png" alt="Trash Taste">
                              <span>Trash Taste</span>
                            </div>
                          </a></li>
                      <li><a href="#description">
                        <div class="podcast-list">
                          <img src="../static/trypod.jpg" alt="The TryPod">
                          <span>The Try Pod</span>
                        </div>
                      </a></li>
                      <li><a href="#description">
                        <div class="podcast-list">
                          <img src="../static/simply.jpg" alt="SimplyPodLogical">
                          <span>SimplyPodLogical</span>
                        </div>
                      </a></li>
                      <li><a href="#description">
                        <div class="podcast-list">
                          <img src="../static/buzz.png" alt="BuzzFeed Unsolved Network">
                          <span>BuzzFeed Unsolved Network</span>
                        </div>
                      </a></li>
                      <li><a href="#description">
                        <div class="podcast-list">
                          <img src="../static/unnamed.jpg" alt="Watcher">
                          <span>Watcher</span>
                        </div>
                      </a></li>
                      <li>
                          <a href="./podcastDescription.html">
                            <div class="podcast-list">
                              <img src="../static/hank.png" alt="Dear Hank and John">
                              <span>Dear Hank and John</span>
                            </div>
                          </a></li>
                        <li>
                          <a href="./podcastDescription.html">
                            <div class="podcast-list">
                              <img src="../static/review.png" alt="The Anthropocene Reviewed">
                              <span>The Anthropocene Reviewed</span>
                            </div>
                          </a></li>
                        <li>
                          <a href="./podcastDescription.html">
                            <div class="podcast-list">
                              <img src="../static/sst.png" alt="SciShow Tangents">
                              <span>SciShow Tangents</span>
                            </div>
                          </a></li>
                        <li>
                          <a href="./podcastDescription.html">
                            <div class="podcast-list">
                              <img src="../static/dt.jpg" alt="Delete This!">
                              <span>Delete This!</span>
                            </div>
                          </a></li>
                        <li>
                          <a href="./podcastDescription.html">
                            <div class="podcast-list">
                              <img src="../static/ycswu.jpg" alt="You Can Sit With Us">
                              <span>You Can Sit With Us</span>
                            </div>
                          </a></li>

                    </ul>
                </div>
            </main>
  </div>
</body>
</html>
