<nav>
    <!-- The Navbar contains the title of the library, the pages including Home Page, Podcasts List and My Playlist along with the logo and the copyright -->
    <img id="logo" src="../static/logo.png" />
    <div class="heading">Pod Library</div>
    <div class="navbar">
    <!-- This html file follows sevedral SOLID design principles such as the Single Responsibility Principle (as it only used for navigation between pages), but this can be further improved by removing the actual data and replacing it with template to display the info. -->
        <ul>
            <li><a href="{{ url_for('home') }}">Home Page</a></li>
            <li><a href="{{ url_for('show_podcasts') }}">Podcasts List</a></li>
            <li><a href="#Playlists">My Playlists</a></li>
        </ul>
    </div>
    <div id="nav-footer">
        CS235 upat161
    </div>
</nav>
