<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Description</title>
    <link
        rel="stylesheet"
        href="../static/css/main.css"
    />
</head>
    <!-- The Podcast Description holds the description of each of the Podcats with the Author of the Podcast, the language it is in, what the podcast is about, the categories it is realated to, the website it is associated with and the best episode. -->
<body>
    {% include 'navbar.html' %}
    <div id="content-2">
            <header id="header">
                Trash Taste
              <div class="copyright">&copy; upat161 </div>
            </header>
            <div id="container">
              <main id="main">
                <div id="description">
                    <p><i><strong>Author:</strong></i> Trash Taste </p>
                    <p><i><strong>Language:</strong></i> English</p>
                    <p><i><strong>About:</strong></i> A podcast with attitude that hits different. Joey (TheAnimeMan), Garnt (Gigguk) and Connor (CDawgVA) of the Trash Taste podcast. Discussing how they met, Attack On Titan, odd emails, and more.</p>
                    <p><i><strong>Categories:</strong></i> Society & Culture | Japan </p>
                    <p><i><strong>Website:</strong></i> https://www.youtube.com/@TrashTaste </p>
                    <p><i><strong>Best Episodes:</strong></i> Top 4 </p>
                     <br>
                    <div id="podcast-grid">
                    <div class="podcast-item">
                        <div class="podcast-info">
<p><i><a href="https://www.youtube.com/watch?v=GMCxI2KJp3Y" style="color: white">Episode 7: </a></i><strong><span style="color: #ADD8E6">The Internet Kinda Sucks Right Now | Trash Taste</span></strong></p>
                        <p><i>Description: </i>Today we discuss the pros and cons of being an online personality and why being on the Internet now is scarier than it's ever been before.</p>
                    <img src="../static/ep1.png" alt="Episode 7">
                    </div>
                        </div>

                        <div class="podcast-item">
                        <div class="podcast-info">
                    <p><i><a href="https://www.youtube.com/watch?v=GMCxI2KJp3Y" style="color: white">Episode 12: </a></i><strong><span style="color: #ADD8E6">College Horror Stories | Trash Taste</span></strong></p>
                    <p><i>Description: </i>The boys discuss their horrific College experiences.</p>
                    <img src="../static/ep12.png" alt="Episode 12">
                            </div>
                            </div>
                        <div class="podcast-item">
                        <div class="podcast-info">
                    <p><i><a href="https://www.youtube.com/watch?v=zyuwyIrw1pQ " style="color: white" >Episode 19: </a></i><strong><span style="color: #ADD8E6">We Need a Break From YouTube | Trash Taste</span></strong></p>

                    <p><i>Description: </i>This is kind of so damn and condescending. There's a job for like foreigners. He doesn't even look that foreign. He still looks Japanese.</p>
                    <img src="../static/ep19.png" alt="Episode 19">
                        </div>
                        </div>
                            <div class="podcast-item">
                        <div class="podcast-info">
                    <p><i><a href="https://www.youtube.com/watch?v=XDhyFh0DPOA" style="color: white" >Episode 24: </a></i><strong><span style="color: #ADD8E6">We Need a Break From YouTube | Trash Taste</span></strong></p>
                    <p><i>Description: </i>This is kind of so damn and condescending. There's a job for like foreigners. He doesn't even look that foreign. He still looks Japanese.</p>
                    <img src="../static/ep24.png" alt="Episode 24">
                        </div>
                                </div>
                    </div>
                </div>
              </main>
            </div>
  </div>
</body>
</html>
